<div class="jumbotron text-center">
  <h1>Hacker News Top Stories</h1>
  <div class="float-right">
    <%= link_to "Sign-In", new_user_session_path %> | <%= link_to "Sign-Up", new_user_registration_path %>
  </div>
</div>