
<table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 60%">Firstname</th>
        <th style="width: 20%">Lastname</th>
        <th style="width: 20%">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>Title is this</p>
    </div>
    <div class="col-sm-3">
      <p>Mark Read</p>
    </div>
    <div class="col-sm-3">
      <p>Delete</p>
    </div>
  </div>
</div>